.carousel-item img {
  height: 100%;
  object-fit: cover;
}
.carousel-inner video {
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 2.667; /* Match your image aspect ratio */
    object-fit: cover;
    display: block;
    }

    body {
      font-family: 'Inter', sans-serif;
      background: var(--light);
      color: var(--dark);
      padding: clamp(20px, 5vw, 60px);
      font-size: 1.5rem;
    }

/* li{
    list-style: none;
} */

    ul.link-list {
      list-style-type: none;
      padding: 0;
    }

    ul.link-list li {
      margin-bottom: 10px;
    }

    ul.link-list a {
      text-decoration: none;
      color: #1a0dab;
      font-size: 1rem;
      transition: color 0.3s ease;
    }

    ul.link-list a:hover {
      color: #d62828;
    }
    .formula {
      font-size: 1.5em;
      font-weight: bold;
      margin: 20px 0;
    }
    .term {
      margin-left: 20px;
    }
    .root {
      text-decoration: overline;
      padding-left: 4px;
    }
    :root {
  --primary: #0077ff; /* This is a strong blue */
}

nav a:hover {
      color: var(--primary) !important;
    }
